flow.json
[{"id":"36224d1903273e67","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"70078d30b8fbc447","type":"exec","z":"36224d1903273e67","command":"vcgencmd measure_temp","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":170,"y":280,"wires":[["e2fa6cc95e70d348","81bff437469350e1"],[],[]]},{"id":"52c1f243a70921e2","type":"inject","z":"36224d1903273e67","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["70078d30b8fbc447"]]},{"id":"e2fa6cc95e70d348","type":"debug","z":"36224d1903273e67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"81bff437469350e1","type":"wiotp out","z":"36224d1903273e67","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"3527d6833daa93e1","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":410,"y":140,"wires":[]},{"id":"3527d6833daa93e1","type":"wiotp-credentials","name":"","org":"","serverName":"","devType":"","devId":"","keepalive":"60","cleansession":true,"tls":"","usetls":false,"credentials":{"authToken":""}}]
